<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="securecore" connectionString="Data Source=34.77.100.91;Initial Catalog=securecode;User ID=sqlserver;Password=gutinomola" providerName="System.Data.SqlClient" />
		<add name="UserEntities" connectionString="metadata=res://*/ModelUsers.csdl|res://*/ModelUsers.ssdl|res://*/ModelUsers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.77.100.91;initial catalog=securecode;user id=sqlserver;password=gutinomola;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="CategoriesEntities" connectionString="metadata=res://*/ModelCategories.csdl|res://*/ModelCategories.ssdl|res://*/ModelCategories.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=34.77.100.91;initial catalog=securecode;user id=sqlserver;password=gutinomola;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>