<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="securecore"
             connectionString="Data Source=DESKTOP-3TBSEIL\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=SSPI;User Id=secureCoreApplication;Password=test123456789"
             providerName="System.Data.SqlClient" />
		<add name="UserEntities" connectionString="metadata=res://*/ModelUsers.csdl|res://*/ModelUsers.ssdl|res://*/ModelUsers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1R4FJM3\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="CategoriesEntities" connectionString="metadata=res://*/ModelCategories.csdl|res://*/ModelCategories.ssdl|res://*/ModelCategories.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARTYOM\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>