<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SecureCoreConnectionString"
            connectionString="Data Source=DESKTOP-3TBSEIL/SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=SSPI;User Id=secureCoreApplication;Password=test123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>