<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibreriaControles.Properties.Settings.SecureCoreConnectionString"
            connectionString="Data Source=ARTYOM\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>